body {
    height: 100%;
    width: 100%;
    font-family: 'Cutive Mono', monospace;
}

/********* footer *************/
footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

footer img{
    height: 40px;
    width: 40px;
}

/********** map **********/
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#search {
    position: fixed;
    left: 5%;
    margin: 0.5em 1em 1em;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    border: 0.1em solid white;
    border-radius: 6px;
}
/************ aside ********/
#results {
    position: fixed;
    right: 0%;
    width: 30%;
    height: 80%;
    margin: 0.5em 1em 1em;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    padding: 0.5em;
    border-radius: 6px;
    text-align: center;
}

#showText{
    text-decoration: underline;
    margin: 0;
}

#hideText {
    text-decoration: underline;
    margin: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.upper {
}

#bigResults {
    text-align: center;
    position:fixed;
    right: 0;
    width: auto;
    height: 80%;
    margin: 0.5em 1em 1em;
    z-index: 1;
    background-color: rgba(255,255,255,0.9);
    padding: 0.5em;
    border-radius: 6px;
    overflow: scroll;
    overflow-x: hidden;
}
#lower {
    display: flex;
    flex-flow: wrap;
}
#showStops {
    height: 70%;
}
.option{
    display: flex;
    position: relative;
    margin: 0.2em;
    padding: 0.5em;
    /*background-color: rgba(141,196,189,0.2);*/
    border-radius: 6px;
    height: 80%;
    border: dot-dot-dash greenyellow;
}
.innerOption {
    padding: 0.3em;
}

h1 {
    background-color: rgba(255,255,255,0.5);
    border-radius: 6px;
}

#info {
    height: 100%
}

#moreInfo {
    height: 100%;
}

ul {
    list-style-type: none;
}



/********* transportation pictures in li *********/
.bus {
    background-color: rgba(135,132,241,0.5);
    background-image: url("../media/bus.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.walk {
    background-color: rgba(235,238,135,0.5);
    background-image: url("../media/walk.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.rail {
    background-color: rgba(241,132,205,0.5);
    background-image: url("../media/rail.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.subway {
    background-color: rgba(242,170,55,0.5);
    background-image: url("../media/subway.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.ferry {
    background-color: rgba(132,232,241,0.5);
    background-image: url("../media/ferry.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.tram {
    background-color: rgba(161,241,132,0.5);
    background-image: url("../media/tram.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}

/* Media queries */

@media only screen and (max-width: 600px) {
    body {
        font-size: large;
    }
    #results {
        position: absolute;
        text-align: center;
        font-size: larger;
        bottom: 0;
        width: 90%;
        height: 50%;
        margin: 0.5em;
        z-index: 1;
        background-color: rgba(255,255,255,0.8);
        padding: 0.5em;
        border-radius: 6px;
    }
    #bigResults {
        position: absolute;
        text-align: center;
        font-size: initial;
        bottom: 0;
        width: 90%;
        height: 60%;
        margin: 0.5em;
        z-index: 1;
        background-color: rgba(255,255,255,0.8);
        padding: 0.5em;
        border-radius: 6px;
    }
    .option {
        display: block;
        height: 62.5%;
        width: 80%;
        margin-left: 0.7em;
    }

    #lower {
        height: 95%;
    }
    #moreInfo {
        height: 95%;
    }
    button {
        width: 70px;
        height: 35px;
        font-size: large;
    }
    input {
        width: 180px;
        height: 35px;
        font-size: large;
    }
    #headerText {
        font-size: larger;
    }
    #search {
        left: 10%;
    }
    h1 {
        margin: 10px;
        font-size: 1.5rem;
    }
    #upper {
        height: auto;
    }
}

@media only screen and (max-height: 300px) {
    #search {
        height: 45%;
    }
    #results {
        height: 40%;
    }
    h1 {
        margin: 10px;
        font-size: 1.5rem;
    }
    #headerText {
        margin-top: 0;
        font-size: 110%;
    }
}