body {
    height: 100%;
    weight: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#search {
    position: fixed;
    left: 5%;
    margin: 0.5em 1em 1em;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    border: 0.1em solid white;
    border-radius: 6px;
}

#results {
    position: fixed;
    right: 0%;
    width: 30%;
    height: 80%;
    margin: 0.5em 1em 1em;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    padding: 0.5em;
    border-radius: 6px;
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

#showText{
    text-decoration: underline;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#bigResults {
    position:fixed;
    right: 0;
    width: auto;
    height: 80%;
    margin: 0.5em 1em 1em;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    padding: 0.5em;
    border-radius: 6px;
}
#routes {
    display: flex;
    flex-flow: wrap;
    height: 100%;
}
#showStops {
    height: 70%;
}

ol {
    height: 80%;
    display: flex;
    flex-flow: wrap;
    padding: 0.5em;
    justify-content: flex-start;
    list-style-type: none;
    line-height: 2em;
    border: 1px solid #ccc;
    margin: 0;
}
.option{
    display: flex;
    position: relative;
    margin: 0.2em;
    padding: 0.5em;
    /*background-color: rgba(141,196,189,0.2);*/
    border-radius: 6px;
    overflow: scroll;
    overflow-x: hidden;
    height: 80%;

}

li {

}
h1 {
    background-color: rgba(255,255,255,0.5);
    border-radius: 6px;
}

.smallIcon {
    height: 15px;
    width: 15px;
}

#info {
    height: 30%
}

ul {
    list-style-type: none;
}

.bus {
    background-color: paleturquoise;
    background-image: url("../media/bus.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.walk {
    background-color: lightyellow;
    background-image: url("../media/walk.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.rail {
    background-color: lightpink;
    background-image: url("../media/rail.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.subway {
    background-color: orange;
    background-image: url("../media/subway.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}
.ferry {
    background-color: dodgerblue;
    background-image: url("../media/ferry.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;
}

.tram {
    background-color: lightseagreen;
    background-image: url("../media/tram.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 20px;

}